{% extends "base.html" %}
{% block content %}
<section id="about-us" class="container my-5">
    <h2 class="mb-4">О компании</h2>

    <div class="mb-5">
        <h3>История компании</h3>
        <p>
            Компания <strong>"DYA"</strong> была основана в 2010 году с целью предоставления высококачественных
            медицинских услуг и диагностики. За годы работы мы прошли путь от небольшой лаборатории до современного
            центра, использующего передовые технологии для диагностики и лечения. Наши специалисты постоянно
            совершенствуют свои навыки, чтобы обеспечить пациентам максимально точные результаты и комфортное
            обслуживание.
        </p>
    </div>

    <div class="mb-5">
        <h3>Миссия и ценности</h3>
        <h4>Миссия</h4>
        <p>Обеспечить здоровье и благополучие наших клиентов, предоставляя точные, своевременные и доступные
            диагностические услуги.</p>
        <h4>Ценности</h4>
        <ul>
            <li><strong>Качество и точность</strong> — наши приоритеты в каждом анализе.</li>
            <li><strong>Забота о пациенте</strong> — индивидуальный подход и внимательное отношение.</li>
            <li><strong>Инновации</strong> — использование современных технологий для достижения лучших результатов.
            </li>
            <li><strong>Надежность</strong> — соблюдение стандартов безопасности и конфиденциальности.</li>
        </ul>
    </div>

  <div class="mb-5">
    <h3>Команда врачей</h3>
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4 text-center">
          <img src="/static/images/врач мужчина.jpg" alt="Иванов И.И." class="rounded-circle" width="140" height="140"
               style="object-fit: cover;">
          <h2 class="fw-normal mt-3">Иванов И.И.</h2>
          <p>Терапевт с 15-летним опытом работы, специализация в общей медицине.</p>
        </div>

        <div class="col-lg-4 text-center">
          <img src="/static/images/врач женщина.jpg" alt="Петрова А.А." class="rounded-circle" width="140" height="140"
               style="object-fit: cover;">
          <h2 class="fw-normal">Петрова А.А.</h2>
          <p>Лабораторный врач, эксперт по клинической диагностике.</p></div>
      </div>
    </div>
  </div>

</section>
{% endblock %}